@model DersKayit.Models.Ders
@{
    ViewBag.Title = "DersDetay";
}

<h2>Derse Ait Bilgiler</h2>
<hr/>

<p class="lead">Ders Adı: @Model.DersAdi</p>
<p>Ders Kodu: @Model.DersKodu</p>
<p>Toplam Kontenjan: @Model.Kontenjan</p>
<p>Kayıtlı Öğrenci Sayısı: @Model.KayitliOgrenciler.Count</p>



