@model IEnumerable<DersKayit.Models.Ders>

@{
    ViewBag.Title = "Öğretim Elemanı İşlemleri";
}

<div class="page-header">
    <h3>Ders İşlemleri Sayfasına Hoşgeldiniz!</h3>
</div>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item"> <strong>@item.DersAdi </strong>Dersine Kayıtlı Öğrenciler</li>

        <ol class="panel panel-info">
        @foreach (var ogr in item.KayitliOgrenciler)
        {
            <li class="alert alert-warning">
                @ogr.OgrenciTamAd || Öğrenciyi Onayla | Öğrenciyi Reddet
            </li>
        }
        </ol>
    }
</ul>


