@{
    ViewBag.Title = "Tanıtım";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Halil Rıfat Paşa Caddesi<br />
    Cevher Cami Karşısı, PK 58030<br />
    <abbr title="Phone">GSM:</abbr>
    535 837 34 32
</address>

<address>
    <strong>Bilgi Almak İçin</strong>   <a href="mailto:Support@example.com">duranbey@ayaz.edu.tr</a><br />
    <strong>Kayıt Koşulları İçin:</strong> <a href="mailto:Marketing@example.com">ahmetbey@ayaz.edu.tr</a>
</address>