@model DersKayit.Models.Hoca

@{
    ViewBag.Title = "Öğretim Elemanı Giriş Ekranı";
}

<legend class="alert alert-success">Başarıyla giriş yaptınız!</legend>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Öğretim Elemanı Bilgileri</h3>
    </div>
    <div class="panel-body">
        <p class="list-group">
            <label class="list-group-item"> <strong>İsim:</strong> @Model.HocaTamAd</label>
            <label class="list-group-item"> <strong>Öğretim Elemanı No:</strong> @Model.HocaNo</label>
            <label class="list-group-item"> <strong>Bölüm:</strong> @Model.Bolum.BolumAdi</label>
        </p>
    </div>
</div>

<div class="panel">
    <label class="lead">@Html.ActionLink("Ders İşlemleri", "Index", "Ders")</label>
</div>
