@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Ayaz Üniversitesi: Eğitimde Bir Marka</h1>
    <p class="lead">Sektörel bir dev olan, ülkemizin gururu Ayaz Çiğköfte tarafından kurulan güzide eğitim kurumu...</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Daha Fazla Oku &raquo;</a></p>
</div>